* {
    font-family: 'Source Sans Pro', sans-serif;
  }  

/**
Header
**/

.header-container {
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    align-items: center;

    &__home {
        color: black;
        font-size: 18px;
        margin-left: 25px;
        text-decoration: none;

    }

    &__recipes {
        color: #FE8A24;
        font-weight: bold;
        padding-right: 20px;
    }
}


/**
Home
**/

.home-container {
    padding: 25px 20px 25px 20px;
    border: 1px solid #ECECEB;

    .home-title {
        font-size: 1rem;
        margin-bottom: .5rem;
        font-weight: normal!important;
    }

}
/**
RecipesContainer
**/

.recipes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5%;
    border: 1px solid white;
    height: 340px;
}

/**
Recipes
**/

.card {

    height: 340px;
    border: 1px solid #ECECEB;

    &-container__content {
        padding: 0px;
        color: rgb(110, 109, 109);


    }

    &-container__title {
        padding-left: 5px;
        
    }

    &-container__chef {
        display: flex;
        align-items: center;
        width: 250px;
        border-top: 1px solid #e6e6e6;
        position: absolute;
        color: grey;
        padding-left: 5px;
        padding-top: 5px;
    }

    &-image-recipe {
        width:100%;
        height: 118px;
    }

    &-image-chef {
        width: 2.5rem;
        border-radius: 50%;
        margin-right: 10px;
    }

    .box-rating-prep {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 5px 0 5px;
        height: 30px;

        .prep-time {
            padding: 0 20px 0 25px;
            border-left: 1px solid #e6e6e6;
        }
    }

}

/**
IngredientsContainer
**/

.ingredients-container {
    display:flex;
    flex-direction: row;
    overflow-x: scroll;
    border: 1px solid #ECECEB;

}





/**
Ingredients
**/

.ingredients-item {
    width: auto;
    text-align: center;
    margin: 1rem;

    img{
        width: 100px;
        height: 100px;
    }
}


/**
Ingredient
**/


.ingredient-container {
    border: 1px solid #ECECEB;

    &__inner {

        padding: 8px 30px 8px 20px;
    }

    img {
        height: 400px;
        width: 888px;
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 100;
    }

    h3 {
        font-weight: bold;
        font-size: 1.5rem;
    }
}



/**
Recipe
**/


.container-recipe {

    &__inner {

        padding: 0 20px 0 20px;
    }

    &__name {
        font-size: 2.5rem;
        padding: 20px 0 20px 0;
    }

    &__img {
        display:block;
        position: relative;


        img {
            height: 400px;
            width: 890px;
        }
    }

    &__box {
        display: flex;
        flex-direction: row;
        padding: 10px 0 10px 0;
        align-items: center;

        .rating {
            padding-right: 10px;
        }

        .prep-time {
            border-right: 1px solid #e6e6e6;
            border-left: 1px solid #e6e6e6;
            padding: 0 10px 0 10px;
        }

        .chef {
            padding-left: 10px;

        }

        img {
            width: 2.5rem;
            border-radius: 50%;
            height: 40px;
            padding-left: 10px;
        }
    
    }

    &__ingredients {
        display:flex;
        flex-direction: row;
        width: 20%;
        
    }
}